<nav class="sidemenu">
  <ul>
      <li>
          <img src="../../../assets/logo.png" width="40px" alt="">
          <span class="logo">rud Users</span>
      </li>
      <li routerLink="/home" ><mat-icon>home</mat-icon>Home</li>
      <li routerLink="/user-crud"><mat-icon>person_add</mat-icon>Cadastrar usuários</li>
      <a href="https://angular.dev/" target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>
      <a href="https://firebase.google.com/docs?hl=pt-br" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase </li></a>
      <li routerLink="/" class="logout"> <mat-icon>logout</mat-icon>Sair</li>
  </ul>
  </nav>
  
  
  